<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.secaicontainerengine.mapper.EvaluationResultMapper">

    <select id="getEvaluationDetailByModelId" resultType="map">
        SELECT
            em.methodName as methodName,
            er.timeUse as timeUse,
            er.cpuMemoryUse as cpuMemoryUse,
            er.gpuMemoryUse as gpuMemoryUse
        FROM
            evaluation_result er
        JOIN
            evaluation_method em ON er.evaluateMethodId=em.id
        WHERE
            er.modelId=#{modelId};
    </select>

    <update id="upsertJsonField">
        UPDATE evaluation_result
        SET ${column} = JSON_SET(
            CASE
                WHEN JSON_EXTRACT(${column}, CONCAT('$.', #{key})) IS NOT NULL
                    THEN ${column}
                ELSE JSON_INSERT(${column}, CONCAT('$.', #{key}), #{value})
            END,
            CONCAT('$.', #{key}), #{value}
        )
        WHERE modelId = #{modelId}
    </update>

    <update id="updateStatus">
        UPDATE evaluation_result
        SET status=#{status}
        WHERE modelId=#{modelId} AND evaluateMethodId =(
            SELECT id FROM evaluation_method WHERE methodName=#{metric}
        )
    </update>

</mapper>
